.examples-list {
  margin: 1rem auto;
  max-width: 500px;
}

.examples-list h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.examples-list a {
  color: #2f7acf;
}

.examples-list a:hover {
  color: rgb(73, 102, 136);
  text-decoration: underline;
  text-underline-offset: 3px;
}
