button {
  border: none;
  cursor: pointer;
  transition: 0.15s all ease-out;
}

button:hover {
  filter: brightness(90%);
  transform: scale(1.01);
}

button.--color-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

button.--color-accent {
  background-color: var(--clr-accent-light);
  color: var(--clr-light);
}

button.--size-small {
  padding: 0.33rem 0.66rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

button.--size-regular {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button.--size-large {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.1rem;
}
