.card-with-actions {
  position: relative;
}

.card-with-actions__actions {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: 1rem;
  display: flex;
  align-items: center;
}

.card-with-actions__actions > * {
  margin: 0 0.5rem;
}
