button {
  border: none;
  cursor: pointer;
}

button.--color-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

button.--color-primary:hover {
  background-color: var(--clr-primary-dark);
}

button.--color-accent {
  background-color: var(--clr-accent-light);
  color: var(--clr-light);
}

button.--color-accent:hover {
  background-color: var(--clr-accent-dark);
}

button.--size-regular {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button.--size-large {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.1rem;
}
