@import 'src/styles/variables';

@mixin tank-set-color($color, $border-color: #ffffff) {
  $factor: +1;
  @if (lightness($color) >= 50%) { $factor: -1; }
  $contrast: scale_color($color, $lightness: 10% * $factor);

  border-color: $border-color;
  background: linear-gradient(
    to right,
    $contrast 20%,
    $color 20% 80%,
    $contrast 80% 100%
  );

  & > * {
    background: $color;
    border-color: $border-color;
  }
}

.tank {
  --tank-width: 100px;
  --tank-width-border: max(calc(var(--tank-width) * 0.02), 1px);

  width: var(--tank-width);
  height: calc( var(--tank-width) * 2 );
  position: relative;
  border: var(--tank-width-border) solid black;
  border-radius: calc( var(--tank-width) * 0.3 );

  & > * {
    position: absolute;
    border: var(--tank-width-border) solid black;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
  }

  &-head {
    width: 55%;
    height: 30%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-cannon-body {
    width: 25%;
    height: 40%;
    top: calc(40% - var(--tank-width-border));
    border-top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-cannon-tip {
    width: 13%;
    height: 40%;
    border-top: 0;
    top: calc(80% - 2 * var(--tank-width-border));
    left: 50%;
    transform: translateX(-50%);
  }

  // Color
  &.--color-black { @include tank-set-color($color-black) }
  &.--color-blue { @include tank-set-color($color-blue) }
  &.--color-green { @include tank-set-color($color-green) }
  &.--color-red { @include tank-set-color($color-red) }
  &.--color-purple { @include tank-set-color($color-purple) }
  &.--color-yellow { @include tank-set-color($color-yellow, $color-black) }

  // Flipped
  &.--flipped { transform: rotate(180deg) }
}
