.App {
  margin: 0 auto;
  max-width: 60rem;
}

.App .title {
  display: flex;
  align-items: center;
}

.App .button-link {
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.App .button-link:hover {
  color: #60a0a0;
  text-decoration: underline;
  cursor: pointer;
}

.App .button-link:focus {
  outline: none;
  border-color: #60a0a0;
}

.App .hobbies {
  list-style-type: none;
  padding-left: 0;
}

.App .hobbies .hobby {
  padding: 0.5rem 0;
}
