@import 'scoped';

.button {
  width: auto;
  letter-spacing: 1px;
  padding: 0.6rem 1.75rem;
  font-size: 0.95rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.15s all ease-out;

  // Filled style
  &.style-filled {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  // Outline style
  &.style-outline {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  // Google style
  &.color-google {
    background-color: store('color.google.blue');
    color: store('color.white');
    border-color: transparent;

    &:hover {
      background-color: store('color.google.blue-dark');
      color: store('color.white');
    }
  }
}
