@import 'scoped';

$dropdown-width: 15rem;

.cart-items {
  height: $dropdown-width;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.empty-message {
  font-size: 18px;
  margin: 16px auto;
}
