.gummy-bear-form {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-300);
  border-radius: 8px;
  margin-top: 1rem;

  ._form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
  }

  ._trail {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
  }

  ._control {
    display: block;
    flex-basis: 100%;

    &.-end {
      text-align: right;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.33rem;
    }
  }
}
