.theme-switcher {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-foreground);
  transition: 0.4s all ease-in-out;
}

.theme-switcher:hover {
  background-color: var(--color-foreground-contrast);
}

.theme-switcher.--dark {
  transform: rotate(360deg);
}

.theme-switcher::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -6px;
  right: -6px;
  background-color: var(--color-background);
}
