.eventItem {
  border: 3px solid #ccc;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
}

.eventItemImage {
  max-width: 100%;
  border-radius: 0.5rem;
}

.eventItemInfo {

}

.eventItemInfo h2 {
  margin: 0;
  color: #333;
}

.eventItemLink {

}
