.expense {
  background-color: var(--clr-light);
  padding: 0.66rem;
  display: flex;
  align-items: center;
  background-color: var(--clr-accent-light);
  color: var(--clr-light);
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.expense:hover {
  filter: brightness(90%);
  transform: scale(1.01);
}

.expense__title {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: inherit;
  flex-grow: 1;
}

.expense__amount {
  background-color: var(--clr-primary);
  padding: 1rem;
  font-weight: 700;
}
