.App {
  display: block;
  margin: 2rem auto;
  max-width: 550px;
  border: 3px dashed var(--color-grey-light);
  border-radius: 1rem;
  padding: 2rem;
}

.App main:not(:empty) {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 2px solid var(--color-grey-light);
}
