.app {
  display: block;
  margin: 2rem auto;
  max-width: var(--size-container);
  border: 2px solid var(--color-grey-mid-light);
  border-radius: 1rem;
  padding: 2rem;
}

.app header {
  text-align: center;
}

.app main:not(:empty) {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 2px solid var(--color-grey-mid-light);
}
