.weather,
.theme {
  font-style: italic;
  letter-spacing: 1px;
}

.weather.sunny { color: orange }
.weather.rainy { color: blue }

.theme.light {
  color: #333;
  background-color: #eee;
}

.theme.dark {
  color: #eee;
  background-color: #333;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
