.Text {
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 2px solid #aaf;
  width: 100%;
  box-sizing: border-box;
}

.Text:focus {
  outline: 0;
  border: 2px solid #66f;
}
