.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 21rem;
  align-items: center;
  position: relative;

  &:hover {
    .cta {
      .button {
        opacity: 0.5;
      }
    }
  }

  .background-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.3rem;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    font-size: 1.125rem;

    .name {
      width: 90%;
      margin-bottom: 1rem;
    }

    .price {
      width: 10%;
    }
  }

  .cta {
    position: absolute;
    top: 66%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s opacity ease-out;

    .button {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}
