.groceries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.groceries-controls {
  border: 2px dashed #ccc;
  padding: 1rem;
  margin: 1rem 0;
}

.groceries-list {
  border: 2px dashed #ccc;
  width: 500px;
  max-width: 100%;
}
