@mixin typography-links()
{
  a:not(.unstyled-link),
  .like-link {
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.25rem;
    transition: 0.15s all ease-out;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--color-grey);
      border-bottom-color: var(--color-grey);
    }
  }
}
