.Person {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 3px 3px 8px #ddd;
  border: 3px dashed transparent;
}

.Person .generalities {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.Person .name,
.Person .age {
  font-weight: bold;
}

.Person .actions {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

.Person .actions button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.Person .actions button:hover {
  box-shadow: 3px 3px 3px #ccc;
  transform: translate(-1px, -1px);
}

.Person .actions button:focus {
  outline: 0;
}

.Person .actions .remove {
  background-color: #e53e3e;
  color: white;
}

.Person .actions .edit {
  background-color: #f6e05e;
}

.Person .actions .save {
  background-color: #48bb78;
  color: white;
}

.Person .name-input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid #ccc;
}

.Person .name-input:focus {
  outline: none;
  border-color: black;
}
