.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.Person.changeable {
  border: 1px solid #aaf;
  box-shadow: 0 2px 3px #66a;
}
.Person.changeable .name {
  font-weight: bold;
}

.Person-delete {
  margin: 0;
  padding: .5rem;
  border: 0;
  color: #88f;
  cursor: pointer;
  background-color: transparent;
}
.Person-delete:focus {
  outline: 0;
}
.Person-delete:hover {
  text-decoration: underline;
}
