.app {
  margin: 0 auto;
  padding: 1rem;
  max-width: min(100vw, 600px);
  min-height: 100vh;
  max-height: 100vh;
  box-shadow: 0 0 20px -10px rgba(0,0,0,0.2);
  border-radius: 1rem;
  position: relative;
  background-color: var(--color-background);
  position: relative;
}
