$img-width: 150px;
$img-height: 10px;
$grid-gap-h: 10px;
$grid-gap-v: 1px;

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($img-width, 1fr));
  grid-gap: $grid-gap-v $grid-gap-h;
  grid-auto-rows: $img-height;

  img {
    width: $img-width;
    &.span-1 {
      grid-row-end: span 1;
    }
    &.span-2 {
      grid-row-end: span 2;
    }
    &.span-3 {
      grid-row-end: span 3;
    }
  }
}
