.battlefield {
  position: relative;
}

// .battlefield__attacker,
// .battlefield__defender {
//   background-color: #e0e0e0;
//   padding: 2rem;
//   width: 100%;
//   border-radius: 1rem;
//   margin: 1rem 0;
// }

.controls {
  margin-top: 2rem;
  border: 1px dashed red;
}
