.gummy-bear-action {
  --size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-primary-500);
  font-size: 1.1rem;
  line-height: 1.1rem;
  cursor: pointer;
  transition: 0.15s all ease-out;

  &:hover,
  &:focus {
    outline: 0;
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-800);
    box-shadow: 2px 2px 0 var(--color-primary-700);
  }
}
